/*.ng-scope { margin: 4px; border: 1px dashed red }*/
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

html, body {
	margin:0;
	padding:0;
	width:100%;
	height:100%;
}
body {
    background-color:#312D25;
    background: linear-gradient(0deg,#312D25,#666633);
    color:#3d2a0d;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size:0.8em;
}
div#bg {
    position:absolute;
    left:50%;
    top:50%;
    margin-left:-512px;
    margin-top:-384px;
    width:1024px;
    height:768px;
    background-image:url('../assets/boardbg.jpg');
    background-size: contain;
    background-position: center center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    border: 4px solid rgb(175,175,75);
    border-radius: 4px;
    box-shadow: 6px 8px 16px #000000;
}
div#main {
    width:100%;
    height:100%;
    position:relative;
}
.row .col-* {
    border: 1px solid red;
}
div#area {
    position:relative;
    width: 986px;
    height: 646px;
    margin-top:14px;
    margin-left:auto;
    margin-right:auto;
}
div#header {
    position:relative;
    margin-top:14px;
    margin-bottom:0px;
    width:986px;
    height:76px;
    margin-left:auto;
    margin-right:auto;    
}
.panel-default {
    color:rgb(175,175,75);
    background-color: rgba(175,175,75,0.2);
    border: 2px solid rgba(175,175,75,0.8);
    border-radius: 4px;
}
.panel-heading {
    color:rgb(100,100,00);
    background-color: rgba(175,175,75,0.6) !important;
    border:0;
    text-shadow: 1px 1px 0px rgb(125,125,25);
    padding-left:0;
}
h2, h3 {
    margin-left:16px;
}